.hourly-info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex-basis: 100%;
  text-align: center;

  &__array-container {
    display: flex;
    justify-content: space-around;
    margin: 15px 0;
  }
  &__array {
    flex: 1;
    box-sizing: border-box;
  }
  i {
    color: darken($mainCardBg, 22%);
    font-size: 42px;
    margin: 20px 0;
  }
  h3 {
    margin: 0;
  }
  p {
    margin: 5px;
  }
}
