.hourly-info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex-basis: 100%;
  text-align: center;

  &__array-container {
    display: flex;
    justify-content: space-around;
    margin: 15px 0;
  }
  &__array {
    flex: 1;
    box-sizing: border-box;
  }
  i {
    color: darken($mainCardBg, 22%);
    font-size: 42px;
    margin: 20px 0;
  }
  h3 { margin: 0; }
  p { margin: 5px; }

  @include whenSmall {
      &__array-container { flex-direction: column; }
      &__array {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
      }
      div {
        order: 1;
        flex: 1;
      }
      p {
        order: 2;
        font-size: 18px;
        flex: 1;
      }
      p:nth-child(1) { order: 3; }
  }
}
