.page-links {
  width: 100%;
  text-align: center;

  &__forecast-options { padding: 20px; }
  a {
    margin: 0 15px;
    transition: color .3s;

    @include whenSmall { margin: 0 30px; }
  }
  a:hover { cursor: pointer; }
}
