.wrapper {
  display: flex;
  box-sizing: border-box;
  max-width: 800px;
  margin: 0 auto 20px;
  background: $mainCardBg;
  box-shadow: 0px 0px 93px -33px rgba(0,0,0,0.75);

  @include whenSmall {
    flex-direction: column;

  }
}
