body {
  background: $bgColor;
  margin-top: 60px;
  color: $textColor;
  font-family: sans-serif;
  height: 100vh;
  padding: 20px;
  font-weight: 100;
  line-height: 1.5;
  font-size: 14px;
  position: relative;
  height: 100%;
}
html {
  height: 100%;
}
.active {
  color: white !important;
}

i {
  font-size: 40px;
}
