body {
  background: $bgColor;
  margin-top: 60px;
  color: $textColor;
  font-family: sans-serif;
  height: 100vh;
  padding: 20px;
  font-weight: 100;
  line-height: 1.5;
  font-size: 16px;
  position: relative;
  @include whenSmall {
    margin-top: 0;
    font-size: 18px;
  }
}
.active {
  color: white !important;
}
i {
  font-size: 40px;
}
.select {
  text-align: center;
  font-style: italic;
}
